
@if $debug-mode == true {

  :empty {
    outline: 5px solid yellow;
  }



  // images

    img {
      outline: 5px solid red;
    }

    img[alt] {
      outline: none;
    }

    img[alt=""] {
      outline: 5px solid yellow;
    }



  // links

    a[title] {
      outline: none;
    }

    a[target]{
      outline: 5px solid yellow;
    }

    a[href="#"],
    a[href*="javascript"] {
      outline: 5px solid yellow;
    }



  // lists

    ul,
    ol {
      > *:not( li ) {
        outline: 5px solid red;
      }
    }



  // table

    table > tr {
      outline: 5px solid yellow;
    }

    tbody + tfoot {
      outline: 5px solid yellow;
    }



  // forms

    form {
      outline: 5px solid red;
    }

    form[action] {
      outline: none;
    }

    textarea,
    input {
      outline: 5px solid red;
    }

    input[type] {
      outline: none;
    }

    textarea[rows][cols] {
      outline: none;
    }

    input[type=submit] {
      outline: 5px solid red;
    }

    input[type=submit][value] {
      outline: none;
    }



  // else

    [style] {
      outline: 5px solid yellow;
    }

    [id] {
      outline: 5px solid yellow;
    }
    
} // endif

