

// typo

  $base-font-size: 16px;
  $helv: Helvetica, Arial, sans-serif;
  $opensans: "Open sans", Helvetica, Arial, sans-serif;


// debug

  $debug-mode: false;

  
// colors

  $grey: #D1D7E0;
  $dark-grey: #888;
  $blue: #5CB0E6;
  $error: #D0021B;