body {
  font-family: $PT;
  font-weight: 400;
  text-align: center;
  color: $black;
  -webkit-font-smoothing: antialiased;
}

section {
  margin-bottom: 4em;
}
.js-teams-container {
  margin-bottom: 1em;
}

.app {
  width: 85%;
  max-width: 25em;
  margin: 0 auto;
  padding: 2.5em 0;
}

ul {
  margin-bottom: 20px;
}


/*
 * $Typo
 */
h1, h2 {
  margin: 0 0 .3em 0;
  font-weight: 700;
}

h1 {
  font-size: 1.8em;
  margin-bottom: .6em;
}
h2 {
  font-size: 1.6em;
  margin: .6em 0 0 0;
}

p, span {
  font-size: 1.2em;
  line-height: 1.8;
  margin: 0 0 1em 0;
  color: $black--lighter;
}
