/*
 * $Generals
 */
$bp-large: 60em;
$bp-medium: 40em;
$bp-small: 30em;



/*
 * $Colors
 */
$black: #333;
$grey: #D1D7E0;
$error: #D0021B;



/*
 * $Fonts
 */
$helvNeue: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$PT: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif, sans-serif;
