doctype html
html(lang="en")
  head
    include partials/_head

  body
    .app
      include partials/_first-step
      include partials/_second-step
      include partials/_third-step

    script(src="js/app.js")
