doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Gulp Starter
    link(rel="stylesheet", href="css/app.css")
    block head

  body
    include partials/vars
    include partials/mixins
    block content
    block scripts