#js-container_step_1.container.container--step1
  h1 How many players?
  input#js-total_players(type="text", placeholder="Total")
  input#js-total_byteam(type="text", placeholder="By team")
  button#js-valid_step1.button.button--orange(type="button") Next step
  