
.button {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 2px;
  box-sizing: border-box;

  @include rem(font-size, 16px);
  @include rem(padding, 15px 0);
}

.button--orange {
  color: #996418;
  border: 2px solid #BE8129;
  text-shadow: 0 1px 1px rgba(255,255,255,.5);
  background-color: #F2AD4B;
  background-image: linear-gradient(-180deg,#f2ad4b 0,#e29f41 100%);
}