

body {
  font-family: $opensans;
  @include rem(font-size, 16px);
}

// titles

  h1 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.03em;
    @include rem(font-size, 35px );
    @include rem(margin-bottom, 30px );
  }

  h2 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.05em;
    @include rem(font-size, 25px);
  }



// paragraphes

  p, li, span {
    font-weight: 400;
    color: $dark-grey;
    
    @include rem(font-size, 14px);
  }

  p {
    line-height: 1.6;
    @include rem(margin-top, 20px);
  }

  #js-teams_container span {
    line-height: 2;
    @include rem(font-size, 16px);
    @include rem(margin, 0 8px 15px 0);

    &.last-item {
      margin-right: 0;
    }
  }

  li {
    line-height: 2;
  }


