.container.container--step1.js-container-step-1
  h1 How many players
  form.js-valid-players-number
    input.js-total-players(type="text", placeholder="Total", value="4")
    input.js-byteam-players(type="text", placeholder="By team", value="2")
    button.button.button--orange Next step
    