.container.js-container-step-1
  h1 How many players
  form.js-valid-players-number
    input.js-total-players(type="text", placeholder="Total")
    input.js-byteam-players(type="text", placeholder="By team")
    button.button.button--orange Next step
    